<footer>
  <img srcset="assets/sig.png 1x, assets/sig@2x.png 2x, assets/sig@3x.png 3x" title="Carl Ekman">
  <p>Currently taking on freelance assignments, <a href="mailto:{{ site.social.email | encode_email }}" title="Contact me">contact me</a>.</p>
  <p>
    <a href="mailto:{{ site.social.email | encode_email }}" title="Email"><i class="fa fa-paper-plane"></i></a>
    <a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://linkedin.com/in/{{ site.social.linkedin }}" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/{{ site.social.github }}" title="GitHub"><i class="fa fa-github-alt"></i></a>
    <a href="https://dribbble.com//{{ site.social.dribbble }}" title="Dribbble"><i class="fa fa-dribbble"></i></a>
  </p>
  <p><small>© 2018 Carl Ekman AB</small></p>
  <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
</footer>
