.transluscent {
  background-color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.9);
  background-blend-mode: lighten;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.shiny {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
