@import "effects";
@import "device";

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 5vw auto;
  max-width: 50em;
}

.wrapper {
  padding: 1.5em;
}

header {
  margin: 5em auto;
  max-width: 30em;
  text-align: center;
  font-size: 12pt;
  line-height: 150%;
}

footer {
  margin: 5em auto;
  max-width: 30em;
  text-align: center;
  color: gray;
}

.signature {
  width: 10em;
  margin: auto;
}

h1 {
  font-size: 42pt;
  line-height: normal;
}

h2 {
  margin-top: 4em;
}

h3 {
  margin-top: 2em;
}

a:link {
  color: #252525;
  text-decoration: none;
}

a:visited {
  color: #353535;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.item-link:hover {
  text-decoration: none;
}

a:hover .item {
  background-color: #fcfcfc;
}

/* Downscaling */

@media screen and (max-width: 800px) {
  h1 {
    font-size: 36pt;
  }

  .header {
    max-width: 30em;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 28pt;
  }

   .header {
    max-width: 15em;
  }
}

/* Scrollbars */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
}
