.tint-green {
  color: #00b894;
  background-color: #55efc4;
}

.tint-blue {
  color: #00cec9;
  background-color: #81ecec;
}

.tint-indigo {
  color: #0984e3;
  background-color: #74b9ff;
}

.tint-purple {
  color: #6c5ce7;
  background-color: #a29bfe;
}

.tint-pink {
  color: #e84393;
  background-color: #fd79a8;
}
